body {
    background-color: rgb(3, 18, 124);
    font-family: Arial, sans-serif; 
}

.container {
    margin: 5% 2%;
}

.container .search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.container .search_container input {
    width: 50%; 
    padding: 10px;
    outline: none;
}

.container .template_container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.container .template_container .card {
    background-color: rgb(3, 18, 124);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 300px; 
    text-align: center;
}

.container .template_container .card img {
    width: 100%; 
    border-radius: 10px; 
    margin-bottom: 10px; 
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    color: chartreuse;
}